/*Common Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
}

/* 62.5% of 16px is 10px */

html {
  font-size: 62.5%;
}

body {
  background: rgba(188, 204, 220, 0.2);
  font-family: "Oswald", sans-serif;
  font-family: "Lora", sans-serif;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 56px;
  font-weight: bold;
  color: #de4948;
  text-align: center;
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .title {
    font-size: 42px;
  }
}

@media screen and (min-width: 300px) and (max-width: 750px) {
  .title {
    font-size: 38px;
  }
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #de4948;
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  h2 {
    font-size: 34px;
  }
}

@media screen and (min-width: 300px) and (max-width: 750px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  font-family: "Oswald", sans-serif;
  font-size: 34px;
  font-weight: 500;
  color: #de4948;
  margin-bottom: 20px;
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  h3 {
    font-size: 30px;
  }
}

@media screen and (min-width: 300px) and (max-width: 750px) {
  h3 {
    font-size: 28px;
  }
}

.social-links h3 {
  margin: 15px auto;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  font-size: 34px;
  color: #de4948;
}

h5 {
  font-family: "Oswald", sans-serif;
  color: #2b2c30;
  font-size: 30px;
  font-weight: 300;
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  h5 {
    font-size: 26px;
  }
}

@media screen and (min-width: 300px) and (max-width: 750px) {
  h5 {
    font-size: 24px;
  }
}

p {
  color: #2b2c30;
  font-size: 22px;
  font-family: "Lora" sans-serif;
  text-align: center;
  justify-content: center;
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  p {
    font-size: 18px;
  }
}

@media screen and (min-width: 300px) and (max-width: 750px) {
  p {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: #2b2c30;
  font-size: 18px;
  font-weight: bold;
  font-family: "Lora", serif;
}

a:hover {
  text-decoration: none;
}

/* End Common Style */

/* Social Icons */

.fa-facebook-f,
.fa-instagram {
  transition: color 0.2s;
  padding-top: 12px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #999999;
  border-radius: 50%;
  justify-content: center;
}

.fa-facebook-f:hover,
.fa-instagram:hover {
  transition: color 0.2s;
  background-color: #000;
  color: #bcccdc;
}

/* End Social Icons */

/* Button */

.btn {
  background: #fff;
  width: 100px;
  border-radius: 25px;
  box-shadow: 5px 8px 18px #000;
  transition: all 0.2s;
  margin-top: 90px;
  margin-bottom: 30px;
  margin-left: 10px;
}

.btn:hover {
  background: #004f5a;
  color: #fff;
}

.btn > a:hover {
  color: #fff;
  width: auto;
}

@media screen and (min-width: 300px) and (max-width: 750px) {
  .btn {
    margin-top: 30px;
    width: 80px;
  }
}
/* End Button */

/* Footer */
footer {
  background-color: #004f5a;
}

.foot {
  font-size: 22px;
  font-family: "Lora", serif;
  margin: 25px 0;
  padding: 0;
  color: #2b2c30;
  line-height: 28px;
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .foot {
    font-size: 18px;
  }
}

@media screen and (min-width: 300px) and (max-width: 750px) {
  .foot {
    font-size: 16px;
  }
}

.sign span {
  color: #fff;
  font-weight: bold;
  font-family: "Lora", sans-serif;
}

.social-links a:link,
.social-links a:visited {
  text-decoration: none;
  border: 0;
  color: #fff;
  transform: color 0.2s;
}

.addr {
  color: #fff;
  font-size: 16px;
  font-family: "Lora", serif;
}

/* End of Footer */

#fest1 {
  padding-top: 70px;
  padding-bottom: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../images/Festivals/cards/mhbw23-1900x550-kaboodle-header.png")
      no-repeat center center / cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: block;
  position: relative;
  width: 100%;
  /* height: 100vh; */
}

#fest1:before {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
}

#fest2 {
  padding-top: 70px;
  padding-bottom: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../images/Festivals/cards/snowbombing-tile.png") no-repeat center
      center / cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
}

#fest2:before {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
}

#fest3 {
  padding-top: 70px;
  padding-bottom: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../images/Festivals/cards/wa-2023-400x300.png") no-repeat center center /
      cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
}

#fest3:before {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
}

#fest4 {
  padding-top: 70px;
  padding-bottom: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../images/Festivals/cards/w23-kaboodle-03.png") no-repeat center center /
      cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
}

#fest4:before {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
}

#fest5 {
  padding-top: 70px;
  padding-bottom: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../images/Festivals/cards/mh23-400x300.png") no-repeat center center /
      cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
}

#fest5:before {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
}

#fest6 {
  padding-top: 70px;
  padding-bottom: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../images/Festivals/cards/1663746064_xtt-thumbnail.jpg") no-repeat
      center center / cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
}

#fest6:before {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
}

/* Events */
.title-event {
  color: #004f5a;
  font-family: "Oswald", sans-serif;
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 20px;
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .title-event {
    font-size: 30px;
  }
}

@media screen and (min-width: 300px) and (max-width: 750px) {
  .title-event {
    font-size: 28px;
  }
}

.text-event {
  background: rgba(136, 136, 136, 0.8);
  /* background: rgba(188, 204, 220, 0.9); */
  margin-bottom: 100px;
}

.text-events {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  font-family: "Lora" sans-serif;
  text-align: center;
  justify-content: center;
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .text-events {
    font-size: 18px;
  }
}

@media screen and (min-width: 300px) and (max-width: 750px) {
  .text-events {
    font-size: 16px;
  }
}

.text-bold {
  color: #de4948;
  font-size: 28px;
  font-weight: 700;
}

.text-fest {
  color: #fff;
  font-size: 22px;
  font-family: "Lora" sans-serif;
  text-align: center;
  justify-content: center;
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .text-fest {
    font-size: 18px;
  }
}

@media screen and (min-width: 300px) and (max-width: 750px) {
  .text-fest {
    font-size: 16px;
  }
}

.date-fest {
  color: #fff;
  font-size: 22px;
  font-family: "Lora" sans-serif;
  text-align: center;
  justify-content: center;
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .date-fest {
    font-size: 18px;
  }
}

@media screen and (min-width: 300px) and (max-width: 750px) {
  .date-fest {
    font-size: 16px;
  }
}

.web-ink {
  color: #fff;
  text-decoration: none;
}

.web-ink:hover {
  color: #004f5a;
}

.web-ink:link {
  text-decoration: none;
  color: #fff;
}

.info-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 280px) and (max-width: 750px) {
  .info-icons {
    grid-template-columns: repeat(2, 1fr);
  }
}

.info-icons i {
  margin-top: 20px;
  font-size: 23px;
  color: #004f5a;
}

/* End Events */
